.somePadding {
  margin: 5px;
}

.someVerticalPadding {
  margin-top: 20px;
}

.someHorizontalPadding {
  margin-left: 5px;
}

.myTextArea {
  width: 100%;
  height: 100px !important;
}

#myLogo {
  width: 35px;
  vertical-align: text-bottom;
}

#myTitle {
  color: black;
  text-align: center;
}

.formNoBottom {
  margin-bottom: 0px;
}

.inlinedDiv {
  display: inline-block;
}
